body {
  background-color: #18171f;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.header {
    width: 90%;
    float: left
}
.content {
  width: 100%
}

.ul_thumbnail li{
  display: inline
}

.thumbnail {
  width: 200px;
}

.modal-dialog,
.modal-content {
  width: 95%;
  max-width: none !important;
  height: 98%;
  max-height: 98%;
  background-color: #18171f;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 60px);
    overflow-y: scroll;
    background-color: #18171f;
}

.focus-photo {
  /*width: 90%;*/
  height: 100%;
  display: inline
}

.photo-data {
  height: 100%;
  display: inline;
  float: right;
  overflow-y: scroll;
}

.photo-tag {
  float: left;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 10px;
  padding-left: 4px;
  margin: 2px 5px 2px 5px;
}

.tag-button {
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  outline:none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-button:hover{
  background-color: black;
  color: white;
}

.tag-cloud {
  display: block;
}

.tag-pane {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.tag-input {
  display: block;
}

.tag-input-box {
  border-radius: 10px;
}

.tag-input-button {
  padding: 1px;
  margin: 1px;
  background-color: none;
}

.detail-photo {
  height: 98%;
}

.login {
  float: right
}

.filter-pane{
  display: inline;
  padding-left: 20px;
}

.filter-table{
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ffffff;
  width: auto;
}
.section-title {
  font-size: 50px;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
}

.gallery-listing {
  float: left;
}

.gallery-save-modal{
  height: 98%;
}
