.header {
    width: 90%;
    float: left
}
.content {
  width: 100%
}

.ul_thumbnail li{
  display: inline
}

.photo-modal{

  width: 90%;
  max-width: none !important;
  height: 90%;
  max-height: 900px;

}

.focus-photo {
  /*width: 90%;*/
  height: 800px;
  display: block
}

.login {
  float: right
}
